<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShowMigrations</servlet-name>
        <servlet-class>Controllers.ShowMigrations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>Controllers.AddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loggin</servlet-name>
        <servlet-class>Controllers.loggin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProduct</servlet-name>
        <servlet-class>Controllers.addProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showProducts</servlet-name>
        <servlet-class>Controllers.showProducts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>showProductsProfile</servlet-name>
        <servlet-class>Controllers.showProductsProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productCRUD</servlet-name>
        <servlet-class>Controllers.productCRUD</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productChangeSave</servlet-name>
        <servlet-class>Controllers.productChangeSave</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteProduct</servlet-name>
        <servlet-class>Controllers.deleteProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getImageProduct</servlet-name>
        <servlet-class>Controllers.getImageProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>first</servlet-name>
        <servlet-class>Controllers.first</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getImageUser</servlet-name>
        <servlet-class>Controllers.getImageUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>openProduct</servlet-name>
        <servlet-class>Controllers.openProduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addToCart</servlet-name>
        <servlet-class>Controllers.addToCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chat</servlet-name>
        <servlet-class>Controllers.chat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>openChat</servlet-name>
        <servlet-class>Controllers.openChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chatSession</servlet-name>
        <servlet-class>Controllers.chatSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setPrice</servlet-name>
        <servlet-class>Controllers.setPrice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeStatusCart</servlet-name>
        <servlet-class>Controllers.changeStatusCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setMessage</servlet-name>
        <servlet-class>Controllers.setMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeUnits</servlet-name>
        <servlet-class>Controllers.changeUnits</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteCart</servlet-name>
        <servlet-class>Controllers.deleteCart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addComment</servlet-name>
        <servlet-class>Controllers.addComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>changeRate</servlet-name>
        <servlet-class>Controllers.changeRate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>Controllers.search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loggin</servlet-name>
        <url-pattern>/loggin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProduct</servlet-name>
        <url-pattern>/addProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showProducts</servlet-name>
        <url-pattern>/showProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>showProductsProfile</servlet-name>
        <url-pattern>/showProductsProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productCRUD</servlet-name>
        <url-pattern>/productCRUD</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productChangeSave</servlet-name>
        <url-pattern>/productChangeSave</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteProduct</servlet-name>
        <url-pattern>/deleteProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getImageProduct</servlet-name>
        <url-pattern>/getImageProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>first</servlet-name>
        <url-pattern>/index.jsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getImageUser</servlet-name>
        <url-pattern>/getImageUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>openProduct</servlet-name>
        <url-pattern>/openProduct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addToCart</servlet-name>
        <url-pattern>/addToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chat</servlet-name>
        <url-pattern>/chat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>openChat</servlet-name>
        <url-pattern>/openChat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chatSession</servlet-name>
        <url-pattern>/chatSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setPrice</servlet-name>
        <url-pattern>/setPrice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeStatusCart</servlet-name>
        <url-pattern>/changeStatusCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setMessage</servlet-name>
        <url-pattern>/setMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeUnits</servlet-name>
        <url-pattern>/changeUnits</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteCart</servlet-name>
        <url-pattern>/deleteCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addComment</servlet-name>
        <url-pattern>/addComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>changeRate</servlet-name>
        <url-pattern>/changeRate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>Db</description>
        <res-ref-name>jdbc/myDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
